<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Rain of Shine</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/semantic.css">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/styles-index.css" media="screen" title="no title" charset="utf-8">
  </head>
  <body>
    <nav>
      LOGIN | SIGNUP
    </nav>

    <!-- <video autoplay id="bgvid" loop>
      <source src="//sendvid.com/3s8inpif" type="video/webm">
      <source src="//sendvid.com/3s8inpif" type="mp4">
    </video> -->


    <div class="container">

      <div class="all">
        <div class="logo">
          <img src="../images/logo.svg" alt="" />
        </div>

        <div class="background-wrapper">
          <form class="ui form">
            <div class="field">
              <input type="text" name="zip-city" placeholder="Enter Zipcode or City">
            </div>
            <button class="ui button" type="submit">Search</button>
          </form>
        </div>
      </div>

    </div>

  </body>
</html>
