<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Rain of Shine</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/semantic.css">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/styles-weather.css">

  </head>
  <body>
    <nav>
      Login | SignUp
    </nav>

    <div class="tabs">
        <!-- Radio button and lable for #tab-content1 -->
        <input type="radio" name="tabs" id="tab1" checked >
        <label for="tab1">
            <i class="fa fa-html5"></i><span>Monday</span>
        </label>
        <!-- Radio button and lable for #tab-content2 -->
        <input type="radio" name="tabs" id="tab2">
        <label for="tab2">
            <i class="fa fa-css3"></i><span>Tues</span>
        </label>
        <!-- Radio button and lable for #tab-content3 -->
        <input type="radio" name="tabs" id="tab3">
        <label for="tab3">
            <i class="fa fa-code"></i><span>Wednesday</span>
        </label>
        <input type="radio" name="tabs" id="tab3">
        <label for="tab3">
            <i class="fa fa-code"></i><span>Thursday</span>
        </label>
        <input type="radio" name="tabs" id="tab3">
        <label for="tab3">
            <i class="fa fa-code"></i><span>Friday</span>
        </label>
        <input type="radio" name="tabs" id="tab3">
        <label for="tab3">
            <i class="fa fa-code"></i><span>Saturday</span>
        </label>
        <input type="radio" name="tabs" id="tab3">
        <label for="tab3">
            <i class="fa fa-code"></i><span>Sunday</span>
        </label>
        <div id="tab-content1" class="tab-content">
          <table style="width:100%">
            <tr>
              <td><h3>Event Name</h3></td>
              <td>Location</td>
              <td>Time</td>
              <td>Favorite</td>
            </tr>
          </table>
        </div> <!-- #tab-content1 -->
        <div id="tab-content2" class="tab-content">
            <h3>Tab 2!!</h3>
            <p><!-- Tab content here --></p>
        </div> <!-- #tab-content2 -->
        <div id="tab-content3" class="tab-content">
            <h3>Tab 3!!</h3>
            <p><!-- Tab content here --></p>
        </div> <!-- #tab-content3 -->
    </div>

  </body>
</html>
