body {
  background: url("../images/rain-window.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}
.ui.form {
  font-size: 30px;
  display: flex;
  align-items: center;

}
.background-wrapper {
  background-color: rgba(255, 255, 255, 0.5);
  width: 50%;
  padding: 25px;
}
.field input {
  display: inline-block;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  height: 5%;
}

.ui.button {
  display: inline-block;
  height: 5%;
}
.ui.form .field {
  margin-bottom: 0;
  width: 100%;
}
.ui.buttons .button, .ui.buttons .or, .ui.button {
  font-size: inherit;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
@media only screen and (min-width:700px) and (max-width:1069px) {
    .ui.form {
    font-size: 18px;
  }
  .background-wrapper {
    width: 60%;
  }
}
@media (max-width: 699px) {
  .field input {
    display:block;
  }
  .ui.button {
    display: block;
  }
  .ui.form {
    display: block;
    font-size: 18px;
  }
  .background-wrapper {
    width: 90%;
  }
  .ui.buttons .button, .ui.buttons .or, .ui.button {
    border-radius: .15em;
  }
  .ui.form .field {
    margin-bottom: 1em;
  }
}
