<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.js" charset="utf-8"></script>
    <link rel="stylesheet" type="text/css" href="../semantic/dist/semantic.min.css">
    <script src="../semantic/dist/semantic.min.js"></script>
    <link rel="stylesheet" href="../css/styles-weather.css">
    <script src="../js/ajax-weather.js" charset="utf-8"></script>
    <script src="../js/test-data.js" charset="utf-8"></script>
    <script src="../js/ajax-events.js" charset="utf-8"></script>
    <script src="../js/filter.js" charset="utf-8"></script>
    <link rel="stylesheet" href="../css/styles.css">
  </head>
  <body>

    <!-- MODAL -->
    <div class="ui modal">
      <i class="close icon"></i>
      <div class="header">
      </div>
      <div class="image content">
        <div class="description">
          <div class="location">
            <h3>Location:</h3>
            <p class="location-tag">

            </p>
          </div>
          <div class="time">
            <h3>Event Time:</h3>
            <p class="time-tag">
            <p>
          </div>
        </div>
      </div>
      <div class="actions">
        <div id="save-event" class="ui button primary">Favorite <i class="heart icon"></i></div>
      </div>
    </div>


    <div class="container">

      <!-- SIDEBAR START -->
      <div class="side-bar center">

        <div class="top">
          <img src="../images/logo-white.svg" alt="" />
        </div>

        <h1>Events for <span class="city-zip"></span></h1>
        <form id="event-weather-filters">


          <div id="city-search" class="ui icon input">
            <input id='zipsearch' type="text" placeholder="Enter Zipcode">
            <i class="search icon"></i>
          </div>

          <!-- <div style="width:auto; font-size: inherit;" class="ui input">
       <input id='zipsearch' type="text" placeholder="Enter a Zipcode...">
     </div> -->

        <div id='drop' class="ui selection dropdown">
          <i class="dropdown icon"></i>
          <div class="default text">Event Type</div>
          <div class="menu">
            <div class="item" value="1">Indoor</div>
            <div class="item" value="2">Outdoor</div>            <div class="item" value="0">All</div>
          </div>
        </div>

          <!-- <select id='drop' class="ui dropdown">
            <option value="">Event Type</option>
            <option value="1">Indoor</option>
            <option value="2">Outdoor</option>
            <option value="0">All</option>
          </select> -->

          <div id='sports' class="ui checkbox sportsbox">
            <input type="checkbox" name="example">
            <label>Sports Event</label>
          </div>
          <div id='shows' class="ui checkbox showsbox">
            <input type="checkbox" name="example">
            <label>Shows</label>
          </div>
          <div id='music' class="ui checkbox musicbox">
            <input type="checkbox" name="example">
            <label>Concerts</label>
          </div>
          <button id = 'filtersearch' class="ui primary button">
            Search
          </button>
        </form>

        <div class="user-buttons">
          <!-- <a href="/user">
            <button id="login" class="ui inverted blue button">
              Login
            </button>
          </a> -->
          <a href="/user">
            <button id="account" class="ui inverted button">
              Account
            </button>
          </a>
          <!-- <button id="logout" class="ui inverted button">
            Logout
          </button> -->

        </div>

      </div>
      <!-- SIDEBAR END -->

      <!-- CONTENT START -->
      <div class="content-section">
        <div id="data-accordion" class="ui styled fluid accordion">
        </div>

      </div>





    </div>


    <!-- <div class="weather-data">
      <div class="ui top attached tabular menu weather-week">

      </div>
    </div> -->

  </body>
</html>
