<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.js" charset="utf-8"></script>
    <link rel="stylesheet" type="text/css" href="../semantic/dist/semantic.min.css">
    <script src="../semantic/dist/semantic.min.js"></script>
    <link rel="stylesheet" href="../css/styles-weather.css">
    <script src="../js/ajax-weather.js" charset="utf-8"></script>
    <script src="../js/test-data.js" charset="utf-8"></script>
    <script src="../js/ajax-events.js" charset="utf-8"></script>
    <script src="../js/filter.js" charset="utf-8"></script>
    <link rel="stylesheet" href="../css/styles.css">
  </head>
  <body>

    <!-- <div class="modal-zip">

      <div class="zip-container">
        <div class="background-wrapper">
          <div class="ui icon input search-form">
            <input type="text" id="city-zip" name="zip" placeholder="Enter City to Start">
            <i class="inverted circular search link icon"></i>
          </div>

        </div>
      </div>

    </div> -->

    <div class="container">

      <!-- SIDEBAR START -->
      <div class="side-bar center">

        <div class="top">
          <img src="../images/logo-white.svg" alt="" />
        </div>

        <h1>Events for <span class="city-zip"></span></h1>
        <form id="event-weather-filters">

          <div style="width:auto; font-size: inherit;" class="ui input">
       <input id='zipsearch' type="text" placeholder="Enter a Zipcode...">
     </div>

          <select id='drop' class="ui dropdown">
            <option value="">Event Type</option>
            <option value="1">Indoor</option>
            <option value="2">Outdoor</option>
            <option value="0">All</option>
          </select>

          <div id='sports' class="ui checkbox sportsbox">
            <input type="checkbox" name="example">
            <label>Sports Event</label>
          </div>
          <div id='shows' class="ui checkbox showsbox">
            <input type="checkbox" name="example">
            <label>Shows</label>
          </div>
          <div id='music' class="ui checkbox musicbox">
            <input type="checkbox" name="example">
            <label>Concerts</label>
          </div>
          <button id = 'filtersearch' class="ui primary button">
            Search
          </button>
        </form>

        <div class="user-buttons">
          <a href="/user">
            <button id="login" class="ui inverted blue button">
              Login
            </button>
          </a>

          <button id="account" class="ui inverted blue button">
            Account
          </button>
          <button id="logout" class="ui inverted button">
            Logout
          </button>

        </div>

      </div>
      <!-- SIDEBAR END -->

      <!-- CONTENT START -->
      <div class="content-section">
        <div id="data-accordion" class="ui styled fluid accordion">
          <!-- <div class="active title">
            <i class="dropdown icon"></i>
            What is a dog?
          </div>
          <div class="active content">
            <p>A dog is a type of domesticated animal. Known for its loyalty and faithfulness, it can be found as a welcome guest in many households across the world.</p>
          </div>
          <div class="title">
            <i class="dropdown icon"></i>
            What kinds of dogs are there?
          </div>
          <div class="content">
            <p>There are many breeds of dogs. Each breed varies in size and temperament. Owners often select a breed of dog that they find to be compatible with their own lifestyle and desires from a companion.</p>
          </div>
          <div class="title">
            <i class="dropdown icon"></i>
            How do you acquire a dog?
          </div>
          <div class="content">
            <p>Three common ways for a prospective owner to acquire a dog is from pet shops, private owners, or shelters.</p>
            <p>A pet shop may be the most convenient way to buy a dog. Buying a dog from a private owner allows you to assess the pedigree and upbringing of your dog before choosing to take it home. Lastly, finding your dog from a shelter, helps give a good home to a dog who may not find one so readily.</p>
          </div> -->
        </div>
      </div>

    </div>


    <!-- <div class="weather-data">
      <div class="ui top attached tabular menu weather-week">

      </div>
    </div> -->

  </body>
</html>
