<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.js" charset="utf-8"></script>
    <link rel="stylesheet" type="text/css" href="../semantic/dist/semantic.min.css">
    <script src="../semantic/dist/semantic.min.js"></script>
    <link rel="stylesheet" href="../css/styles-weather.css">
    <script src="../js/ajax-weather.js" charset="utf-8"></script>
    <link rel="stylesheet" href="../css/styles.css">
  </head>
  <body>

    <div class="side-bar">
      <div class="top">
        <img src="../images/logo-white.svg" alt="" />
      </div>





      <div class="login">
        <a href="#">Login</a>
      </div>
    </div>
    <!-- <nav>
      <div class="top">
        <img src="../images/logo-white.svg" alt="" />
      </div>
      <div class="login">
        <a href="#">Login</a>
      </div>
    </nav>

    <div class="background-wrapper">
      <div class="filters">
        <h1>Events for <span class="city-zip"></span></h1>
        <form id="event-weather-filters">
          <select class="ui dropdown">
            <option value="">Event Type</option>
            <option value="1">Indoor</option>
            <option value="0">Outdoor</option>
          </select>
          <div class="ui checkbox">
            <input type="checkbox" name="example">
            <label>Sports Event</label>
          </div>
          <div class="ui checkbox">
            <input type="checkbox" name="example">
            <label>Restaurant/Bar</label>
          </div>
          <div class="ui checkbox">
            <input type="checkbox" name="example">
            <label>Shows and Music</label>
          </div>
          <button class="ui primary button">
            Save
          </button>
        </form>
      </div>
    </div>
    <div class="ui styled fluid accordion">
      <div class="title active">
        <i class="dropdown icon"></i>
        What is a dog?
      </div>
      <div class="content active">
        <p class="transition visible" style="display: block !important;">A dog is a type of domesticated animal. Known for its loyalty and faithfulness, it can be found as a welcome guest in many households across the world.</p>
      </div>
      <div class="title">
        <i class="dropdown icon"></i>
        What kinds of dogs are there?
      </div>
      <div class="content">
        <p class="transition hidden">There are many breeds of dogs. Each breed varies in size and temperament. Owners often select a breed of dog that they find to be compatible with their own lifestyle and desires from a companion.</p>
      </div>
      <div class="title">
        <i class="dropdown icon"></i>
        How do you acquire a dog?
      </div>
      <div class="content">
        <p>Three common ways for a prospective owner to acquire a dog is from pet shops, private owners, or shelters.</p>
        <p>A pet shop may be the most convenient way to buy a dog. Buying a dog from a private owner allows you to assess the pedigree and upbringing of your dog before choosing to take it home. Lastly, finding your dog from a shelter, helps give a good home to a dog who may not find one so readily.</p>
      </div>
    </div> -->

    <!-- <div class="weather-data">
      <div class="ui top attached tabular menu weather-week">

      </div>
    </div> -->

  </body>
</html>
