<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/semantic.css">
    <link rel="stylesheet" href="../css/styles-weather.css">
    <script src="../js/tab.js" charset="utf-8"></script>
    <script>
      var myTabs = tabs({
        el: '#tabs',
        tabNavigationLinks: '.c-tabs-nav__link',
        tabContentContainers: '.c-tab'
      });
    </script>
  </head>
  <body>

    <div id="tabs" class="c-tabs no-js">
      <div class="c-tabs-nav">
        <a href="#" class="c-tabs-nav__link is-active"></a>
        <a href="#" class="c-tabs-nav__link"></a>
        <a href="#" class="c-tabs-nav__link"></a>
        <a href="#" class="c-tabs-nav__link"></a>
      </div>
      <div class="c-tab is-active">
        <div class="c-tab__content"></div>
      </div>
      <div class="c-tab">
        <div class="c-tab__content"></div>
      </div>
      <div class="c-tab">
        <div class="c-tab__content"></div>
      </div>
      <div class="c-tab">
        <div class="c-tab__content"></div>
      </div>

    </div>
  </body>
</html>
