body {
  background-image: url("../images/weather.png")
}
.background-wrapper {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 25px;
}
.weather-week {
  width: 100%;
  display: flex;
  /*align-items: center;*/
  justify-content: space-between;
  /*padding: 25px;*/
}
/*.weather-day {
  width: 11%;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 10px;
  border-radius: 5px;
  border: 1px solid white;
}
.weather-day h2 {
  font-size: 48px;
}*/

.item h2 {
  font-size: 48px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top img {
  width: 250px;
}

.ui.checkbox {
  padding: 0 10px;
}

.filters {
  text-align: center;
}

.weather-data {
  padding: 25px;
}

.ui.checkbox input[type=checkbox], .ui.checkbox input[type=radio] {
  left: 10px;
}

@media (max-width: 925px) {
  .item h2 {
    font-size: 24px;
  }
}

@media (max-width: 749px) {
  .ui.checkbox {
    padding: 0 10px;
    display: block;
    text-align: left;
    font-size: 16px;
    margin-bottom: 15px;
  }
  .ui.selection.dropdown {
    margin-bottom: 15px;
  }
  .ui.checkbox input[type=checkbox], .ui.checkbox input[type=radio] {
    top:auto;
    left: auto;
  }
  .weather-data {
    padding: 10px;
  }
  .top img {
    width: 175px;
  }
}
