.container {
  display: flex;
  align-items: center;
  height: 100%;
}
.modal-zip {
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 200;
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.zip-container {
  width: 50%;
}
.field input {
  display: inline-block;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  height: 5%;
}

.ui.button {
  display: inline-block;
  height: 5%;
}
.ui.form .field {
  margin-bottom: 0;
  width: 100%;
}


.ui.input {
  width:100%;
  font-size: 24px;
}



.side-bar {
  width: 350px;
  height: 100%;
  padding: 25px;
  background-color: #333;
  /*-moz-box-shadow: inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow: inset 0 0 10px #000000;*/
  color: white;
  display: inline-block;
  width: 500px;
}
.content-section {
  display: inline-block;
  width:100%;
  height: 100%;
  padding: 30px;
  overflow-x: hidden;
  overflow-y: auto;
}
.center {
  text-align: center;
}
.top img {
  width: auto;
  /*width: 250px;*/
}
.side-bar h1 {
  border-top: 1px solid #e0e0e0;
  padding: 15px 0;
  font-size: 1.5rem;

}
.ui.checkbox {
  display: block;
  margin: 25px 0;
  font-size: 18px;
  text-align: left;
}
.ui.checkbox input[type=checkbox], .ui.checkbox input[type=radio] {
  top: 0px;
  left: 0px;
}
.ui.checkbox label, .ui.checkbox+label {
  color: white;
}
.ui.selection.dropdown {
  margin: 15px 0;
}
.ui.checkbox label:hover, .ui.checkbox+label:hover {
  color: #e0e1e2;
}
#event-weather-filters {
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 25px;
}
.user-buttons {
  padding-top: 25px;
}



.background-wrapper {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 25px;
}
.weather-week {
  width: 100%;
  display: flex;
  /*align-items: center;*/
  justify-content: space-between;
  /*padding: 25px;*/
}
/*.weather-day {
  width: 11%;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 10px;
  border-radius: 5px;
  border: 1px solid white;
}
.weather-day h2 {
  font-size: 48px;
}*/

.item h2 {
  font-size: 48px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.weather-data {
  padding: 25px;
}

#city-search {
    width: auto;
    font-size: inherit;
}

.title h2 {
  display: inline;
  font-size: 20px;
}

.title span {
  font-size: 12px;
}
.weather-image {
  float: right;
  margin-top: -1%;
}
.weather-image img {
  float: right;
  margin-top: -7px;
}
.weather-type {
  visibility: hidden;
  float:right;
}
.blue {
  color: #2185d0;
}
.shows-title {
  font-size: 18px;
}
.actions {
  text-align: center;
}
.heart {
  margin: 0;
}
#save-event {
  margin: 0;
  margin-bottom: 15px;
}
.event-title {
  border-bottom: 1px dotted #e0e0e0;
  color: #2185d0;
  padding: 15px 0px;
  margin: 0
}
.event-title:hover {
  cursor: pointer;
  color: #1678c2;
}
.event-title:last-child {
  border-bottom: none;
  padding-bottom: 0;
}



@media (min-width:720px) and (max-width: 899px) {
  .zip-container {
    width: 70%;
  }
}
@media (max-width: 719px) {
  .container {
    display: block;
  }
  .side-bar {
    width: 100%;
    height: auto;
    margin-top: 75px;
  }
  .side-bar h1 {
    padding: 10px 0 0 0;
  }
  .top img {
    width: 250px;
  }
  .user-buttons {
    position: fixed;
    top: 0;
    background-color: #333;
    width: 100%;
    left: 0;
    padding: 25px;
  }
  .ui.selection.dropdown {
    margin: 0;
  }
  .zip-container {
    width: 80%;
  }
  .ui.input {
    width:100%;
    font-size: 18px;
    margin-bottom: 15px;
  }
  .content-section {
    overflow: inherit;
  }
  .title h2 {
    font-size: 16px;
  }
  .weather-image {
    display: none;
  }
  .weather-type {
    visibility: visible;
  }

}
